<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Welcome to AskIt.com,
      <%= @user.name_or_email %></h1>
    <p>
      You have successfully signed up to AskIt.com,
            your user email is:
      <%= @user.email %>.<br></p>
    <p>
      To login to the site, just follow this link:
      <%= link_to 'User_page',
      new_session_url(user: @user.id,
                            email: @user.email,
                            locale: :en),
      target: '_blank' %>.
    </p>
  </body>
</html></p><p>Thanks for joining and have a great day!</p></body></html></html>
